<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^bluepenlaboratories\.com [OR]
RewriteCond %{HTTP_HOST} ^www\.bluepenlaboratories\.com
RewriteRule ^(.*)$ https://www.bluepenlaboratories.com/$1 [R,L]

#  RewriteEngine On
#     # Handle Authorization MemberHeader
#     RewriteCond %{HTTPS:Authorization} .
#     RewriteRule .* - [E=HTTPS_AUTHORIZATION:%{HTTPS:Authorization}]

#     # Redirect Trailing Slashes If Not A Folder...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_URI} (.+)/$
#     RewriteRule ^ %1 [L,R=301]

    # Remove public URL from the path
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>